apiVersion: v1
kind: ConfigMap
metadata:
  creationTimestamp: null
  name: nexus-maven-settings
  namespace: nexus
data:
  settings.xml: |- 
    {{ lookup('file', nexus_mvn_repository_path) | indent(6)}}