{
  "name": "LDAP",
  "protocol": "ldap",
  "host": "{{ nexus_ldap_hostname }}",
  "port": 389,
  "searchBase": "dc=cp",
  "authScheme": "SIMPLE",
  "authRealm": "cp.local",
  "authUsername": "cn=admin,dc=cp",
  "connectionTimeoutSeconds": 30,
  "connectionRetryDelaySeconds": 300,
  "maxIncidentsCount": 3,
  "userBaseDn": "ou=Users",
  "userSubtree": false,
  "userObjectClass": "inetOrgPerson",
  "userLdapFilter": "",
  "userIdAttribute": "uid",
  "userRealNameAttribute": "cn",
  "userEmailAddressAttribute": "mail",
  "userPasswordAttribute": "",
  "ldapGroupsAsRoles": true,
  "groupType": "static",
  "groupBaseDn": "ou=Groups",
  "groupSubtree": false,
  "groupObjectClass": "groupOfNames",
  "groupIdAttribute": "cn",
  "groupMemberAttribute": "member",
  "groupMemberFormat": "uid=${username},ou=Users,dc=CP",
  "authPassword": "{{ nexus_universal_password}}"
}