spec:
  ecm_configuration:
    tm:
      replica_count: 1
      tm_production_setting:
        # Based on https://www.ibm.com/docs/en/enterprise-records/5.2.1?topic=in-configuring-content-navigator-task-manager-enterprise-records
        tm_job_url: "https://cpd-{{ cp4ba_project_name }}.{{ apps_endpoint_domain }}/ier/EnterpriseRecordsPlugin/IERApplicationPlugin.jar"
        security_roles_to_group_mapping:
          task_admins:
            groups: [cpadmins]
          task_users:
            groups: [cpusers]
          task_auditors:
            groups: [cpadmins]      
