apiVersion: v1
kind: Secret
metadata:
  name: ldap-bind-secret
  namespace: "{{ cp4ba_project_name }}"
type: Opaque
stringData:
  ldapUsername: cn=admin,dc=cp
  ldapPassword: "{{ cp4ba_universal_password }}"
