apiVersion: v1
kind: Secret
metadata:
  name: ldap-bind-secret
  namespace: "{{ cp4ba_project_name }}"
type: Opaque
stringData:
  ldapUsername: "{{ ldap_configuration.lc_admin_user }}"
  ldapPassword: "{{ ldap_configuration.lc_admin_password }}"
