apiVersion: v1
kind: Secret
metadata:
  name: odm-web-security-secret
  namespace: "{{ cp4ba_project_name }}"
type: Opaque
stringData:
  webSecurity.xml: |
    <server>

      <!-- Give all roles to an LDAP group -->
      <variable name="odm.rtsAdministrators.group1" value="group:customRealm/cpadmins"/>
      <variable name="odm.rtsInstallers.group1" value="group:customRealm/cpadmins"/>
      <variable name="odm.rtsConfigmanagers.group1" value="group:customRealm/cpadmins"/>
      <variable name="odm.resAdministrators.group1" value="group:customRealm/cpadmins"/>
      <variable name="odm.resDeployers.group1" value="group:customRealm/cpadmins"/>
      <variable name="odm.resMonitors.group1" value="group:customRealm/cpadmins"/>
      <variable name="odm.resExecutors.group1" value="group:customRealm/cpadmins"/>

      <!-- Give all roles to an LDAP user -->
      <variable name="odm.rtsAdministrators.user1" value="user:customRealm/cpadmin"/>
      <variable name="odm.rtsInstallers.user1" value="user:customRealm/cpadmin"/>
      <variable name="odm.rtsConfigManagers.user1" value="user:customRealm/cpadmin"/>
      <variable name="odm.resAdministrators.user1" value="user:customRealm/cpadmin"/>
      <variable name="odm.resDeployers.user1" value="user:customRealm/cpadmin"/>
      <variable name="odm.resMonitors.user1" value="user:customRealm/cpadmin"/>
      <variable name="odm.resExecutors.user1" value="user:customRealm/cpadmin"/>

      <!-- Give all roles to the IAM clientID -->
      <variable name="odm.rtsAdministrators.user2" value="user:customRealm/{{ cp4ba_project_name }}-{{ cp4ba_cr_meta_name }}-odm-oidc-client-id"/>
      <variable name="odm.rtsInstallers.user2" value="user:customRealm/{{ cp4ba_project_name }}-{{ cp4ba_cr_meta_name }}-odm-oidc-client-id"/>
      <variable name="odm.rtsConfigManagers.user2" value="user:customRealm/{{ cp4ba_project_name }}-{{ cp4ba_cr_meta_name }}-odm-oidc-client-id"/>
      <variable name="odm.resAdministrators.user2" value="user:customRealm/{{ cp4ba_project_name }}-{{ cp4ba_cr_meta_name }}-odm-oidc-client-id"/>
      <variable name="odm.resDeployers.user2" value="user:customRealm/{{ cp4ba_project_name }}-{{ cp4ba_cr_meta_name }}-odm-oidc-client-id"/>
      <variable name="odm.resMonitors.user2" value="user:customRealm/{{ cp4ba_project_name }}-{{ cp4ba_cr_meta_name }}-odm-oidc-client-id"/>
      <variable name="odm.resExecutors.user2" value="user:customRealm/{{ cp4ba_project_name }}-{{ cp4ba_cr_meta_name }}-odm-oidc-client-id"/>

    </server>
