apiVersion: v1
kind: Secret
metadata:
  name: odm-tls-secret
  namespace: "{{ cp4ba_project_name }}"
type: Opaque
data:
  keystore.jks: "{{ _keystore_jks }}"
  truststore.jks: "{{ _truststore_jks }}"
stringData:
  keystore_password: "{{ cp4ba_universal_password }}"
  truststore_password: "{{ cp4ba_universal_password }}"
