apiVersion: v1
kind: ConfigMap
metadata:
  name: odm-oidc-providers
  namespace: "{{ cp4ba_output_namespace }}"
data:
  oidc-providers.json: |
    {
      "providers": [{
        "name": "iam",
        "authorizationURL": "https://cp-console.{{ apps_endpoint_domain }}/idprovider/v1/auth/authorize",
        "tokenURL": "https://cp-console.{{ apps_endpoint_domain }}/idprovider/v1/auth/token",
        "clientId": "{{ cp4ba_cr_meta_name }}-odm-oidc-client-id",
        "clientSecret": "{{ cp4ba_cr_meta_name }}-odm-oidc-client-id-secret-value",
        "callbackPort": "9081",
        "callbackHttps": true
      }]
    }
