scripts/variables.sh
*.target.*
scripts/global-ca/*
!scripts/global-ca/install.sh
!scripts/global-ca/remove.sh
scripts/tooling/*
scripts/tooling/install.sh
scripts/tooling/remove.sh
scripts/.kube
scripts/.cache
scripts/.cloudctl
scripts/.config
scripts/.helm
scripts/.m2
scripts/cp4ba/ibm-cp-automation*
scripts/cp4ba/cp4ba-operator.log
scripts/cp4ba/cp4ba-cr.yaml
scripts/cp4ba/cert-kubernetes
scripts/cp4ba/data/bai/workforce-insights-configuration.yaml
scripts/cp4ba/data/bai/workforce-insights-configuration.json
scripts/cp4ba/data/odm/*.jks
scripts/cp4ba/data/odm/*.p12
scripts/cp4ba/data/ads/*.jar
scripts/cp4ba/data/ads/index.json
scripts/cp4ba/data/adp/imports.tar.xz
scripts/cp4ba/jdbc
scripts/akhq/truststore.jks
scripts/cpfs/cloudctl
scripts/cpfs/cluster-monitoring-config.yaml
nohup*
