apiVersion: v1
kind: Route
metadata:
  name: openldap-phpldapadmin
spec:
  host: "phpldapadmin.{{ apps_endpoint_domain }}"
  to:
    kind: Service
    name: openldap-phpldapadmin
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
    key: |-
      {{ _tls_key | b64decode | indent(6) }}
    certificate: |-
      {{ _tls_crt | b64decode | indent(6) }}
    caCertificate: |-
      {{ _ca_crt | b64decode | indent(6) }}