replicaCount: 1
env:
  LDAP_ORGANISATION: "CP"
  LDAP_DOMAIN: "cp"
adminPassword: '{{ universal_password }}'
configPassword: '{{ universal_password }}'
customLdifFiles:
  01-default-users.ldif: |-
    # Units
    dn: ou=Users,dc=cp
    objectClass: organizationalUnit
    ou: Users

    dn: ou=Groups,dc=cp
    objectClass: organizationalUnit
    ou: Groups

    # Users
    dn: uid=cpadmin,ou=Users,dc=cp
    objectClass: inetOrgPerson
    objectClass: top
    cn: cpadmin
    sn: cpadmin
    uid: cpadmin
    mail: cpadmin@cp.local
    userpassword:: {{ universal_password | b64encode }}
    employeeType: admin

    dn: uid=cpadmin1,ou=Users,dc=cp
    objectClass: inetOrgPerson
    objectClass: top
    cn: cpadmin1
    sn: cpadmin1
    uid: cpadmin1
    mail: cpadmin1@cp.local
    userpassword:: {{ universal_password | b64encode }}
    employeeType: admin

    dn: uid=cpadmin2,ou=Users,dc=cp
    objectClass: inetOrgPerson
    objectClass: top
    cn: cpadmin2
    sn: cpadmin2
    uid: cpadmin2
    mail: cpadmin2@cp.local
    userpassword:: {{ universal_password | b64encode }}
    employeeType: admin

    dn: uid=cpuser,ou=Users,dc=cp
    objectClass: inetOrgPerson
    objectClass: top
    cn: cpuser
    sn: cpuser
    uid: cpuser
    mail: cpuser@cp.local
    userpassword:: {{ universal_password | b64encode }}

    dn: uid=cpuser1,ou=Users,dc=cp
    objectClass: inetOrgPerson
    objectClass: top
    cn: cpuser1
    sn: cpuser1
    uid: cpuser1
    mail: cpuser1@cp.local
    userpassword:: {{ universal_password | b64encode }}

    dn: uid=cpuser2,ou=Users,dc=cp
    objectClass: inetOrgPerson
    objectClass: top
    cn: cpuser2
    sn: cpuser2
    uid: cpuser2
    mail: cpuser2@cp.local
    userpassword:: {{ universal_password | b64encode }}

    # Groups
    dn: cn=cpadmins,ou=Groups,dc=cp
    objectClass: groupOfNames
    objectClass: top
    cn: cpadmins
    member: uid=cpadmin,ou=Users,dc=cp
    member: uid=cpadmin1,ou=Users,dc=cp
    member: uid=cpadmin2,ou=Users,dc=cp

    dn: cn=cpusers,ou=Groups,dc=cp
    objectClass: groupOfNames
    objectClass: top
    cn: cpusers
    member: uid=cpadmin,ou=Users,dc=cp
    member: uid=cpadmin1,ou=Users,dc=cp
    member: uid=cpadmin2,ou=Users,dc=cp
    member: uid=cpuser,ou=Users,dc=cp
    member: uid=cpuser1,ou=Users,dc=cp
    member: uid=cpuser2,ou=Users,dc=cp

    dn: cn=cpusers1,ou=Groups,dc=cp
    objectClass: groupOfNames
    objectClass: top
    cn: cpusers1
    member: uid=cpuser,ou=Users,dc=cp
    member: uid=cpuser1,ou=Users,dc=cp
    member: uid=cpuser2,ou=Users,dc=cp
replication:
  enabled: false
persistence:
  enabled: true
  accessModes:
    - ReadWriteMany
  size: 8Gi
  storageClass: "{{ storage_class_name }}"
livenessProbe:
  initialDelaySeconds: 60
readinessProbe:
  initialDelaySeconds: 60
resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi
ltb-passwd:
  enabled: false
phpldapadmin:
  enabled: true
  ingress:
    enabled: false
  env:
    PHPLDAPADMIN_LDAP_HOSTS: "{{ openldap_hostname }}"
