replicaCount: 1
env:
  LDAP_ORGANISATION: "CP"
  LDAP_DOMAIN: "cp"
adminPassword: '{{ universal_password }}'
configPassword: '{{ universal_password }}'
customLdifFiles:
  01-sds-schema.ldif: |-
    dn: cn=sds,cn=schema,cn=config
    objectClass: olcSchemaConfig
    cn: sds
    olcAttributeTypes: {0}( 1.3.6.1.4.1.42.2.27.4.1.6 NAME 'ibm-entryUuid' DESC 
      'Uniquely identifies a directory entry throughout its life.' EQUALITY caseIgnoreMatch SYNTAX 1.3.6.1.4.1.1466.115.121.1.15 SINGLE-VALUE )
    olcObjectClasses: {0}( 1.3.6.1.4.1.42.2.27.4.2.1 NAME 'sds' DESC 'sds' SUP top AUXILIARY MUST ( cn $ ibm-entryuuid ) )
  02-default-users.ldif: |-
    # Units
    dn: ou=Users,dc=cp
    objectClass: organizationalUnit
    ou: Users

    dn: ou=Groups,dc=cp
    objectClass: organizationalUnit
    ou: Groups

    # Users
    dn: uid=cpadmin,ou=Users,dc=cp
    objectClass: inetOrgPerson
    objectClass: sds
    cn: cpadmin
    sn: cpadmin
    uid: cpadmin
    mail: cpadmin@cp.local
    userpassword:: {{ universal_password | b64encode }}
    employeeType: admin
    ibm-entryuuid: e6c41859-ced3-4772-bfa3-6ebbc58ec78a

    dn: uid=cpadmin1,ou=Users,dc=cp
    objectClass: inetOrgPerson
    objectClass: sds
    cn: cpadmin1
    sn: cpadmin1
    uid: cpadmin1
    mail: cpadmin1@cp.local
    userpassword:: {{ universal_password | b64encode }}
    employeeType: admin
    ibm-entryuuid: 40324128-84c8-48c3-803d-4bef500f84f1

    dn: uid=cpadmin2,ou=Users,dc=cp
    objectClass: inetOrgPerson
    objectClass: sds
    cn: cpadmin2
    sn: cpadmin2
    uid: cpadmin2
    mail: cpadmin2@cp.local
    userpassword:: {{ universal_password | b64encode }}
    employeeType: admin
    ibm-entryuuid: 53f96449-2b7e-4402-a58a-9790c5089dd0

    dn: uid=cpuser,ou=Users,dc=cp
    objectClass: inetOrgPerson
    objectClass: sds
    cn: cpuser
    sn: cpuser
    uid: cpuser
    mail: cpuser@cp.local
    userpassword:: {{ universal_password | b64encode }}
    ibm-entryuuid: 30183bb0-1012-4d23-8ae2-f94816b91a75

    dn: uid=cpuser1,ou=Users,dc=cp
    objectClass: inetOrgPerson
    objectClass: sds
    cn: cpuser1
    sn: cpuser1
    uid: cpuser1
    mail: cpuser1@cp.local
    userpassword:: {{ universal_password | b64encode }}
    ibm-entryuuid: ced63be9-411a-4222-b97e-189ddec2beab

    dn: uid=cpuser2,ou=Users,dc=cp
    objectClass: inetOrgPerson
    objectClass: sds
    cn: cpuser2
    sn: cpuser2
    uid: cpuser2
    mail: cpuser2@cp.local
    userpassword:: {{ universal_password | b64encode }}
    ibm-entryuuid: a208fc01-96aa-43f6-9279-35e9725d9fbd

    # Groups
    dn: cn=cpadmins,ou=Groups,dc=cp
    objectClass: groupOfNames
    objectClass: sds
    cn: cpadmins
    ibm-entryuuid: 4196cb9e-1ed7-4c02-bb0d-792cb7bfa768
    member: uid=cpadmin,ou=Users,dc=cp
    member: uid=cpadmin1,ou=Users,dc=cp
    member: uid=cpadmin2,ou=Users,dc=cp

    dn: cn=cpusers,ou=Groups,dc=cp
    objectClass: groupOfNames
    objectClass: sds
    cn: cpusers
    ibm-entryuuid: fc4ded27-8c6a-4a8c-ad9e-7be65369758c
    member: uid=cpadmin,ou=Users,dc=cp
    member: uid=cpadmin1,ou=Users,dc=cp
    member: uid=cpadmin2,ou=Users,dc=cp
    member: uid=cpuser,ou=Users,dc=cp
    member: uid=cpuser1,ou=Users,dc=cp
    member: uid=cpuser2,ou=Users,dc=cp

    dn: cn=cpusers1,ou=Groups,dc=cp
    objectClass: groupOfNames
    objectClass: sds
    cn: cpusers1
    ibm-entryuuid: 7249b636-39b4-456b-8e52-ea4340ee4a6c
    member: uid=cpuser,ou=Users,dc=cp
    member: uid=cpuser1,ou=Users,dc=cp
    member: uid=cpuser2,ou=Users,dc=cp

    # FNCM Task Manager groups
    dn: cn=TaskAdmins,ou=Groups,dc=cp
    objectClass: groupOfNames
    objectClass: sds
    cn: TaskAdmins
    ibm-entryuuid: 001f19c1-cfcc-4b35-b080-85e946eed707
    member: uid=cpadmin,ou=Users,dc=cp

    dn: cn=TaskUsers,ou=Groups,dc=cp
    objectClass: groupOfNames
    objectClass: sds
    cn: TaskUsers
    ibm-entryuuid: 7b370bce-da87-4135-828d-f80b5ca9b80b
    member: uid=cpadmin,ou=Users,dc=cp
    member: uid=cpuser,ou=Users,dc=cp

    dn: cn=TaskAuditors,ou=Groups,dc=cp
    objectClass: groupOfNames
    objectClass: sds
    cn: TaskAuditors
    ibm-entryuuid: 1b85d3b3-bba7-4f4c-a3b1-255cdf9885c0
    member: uid=cpadmin,ou=Users,dc=cp    
replication:
  enabled: false
persistence:
  enabled: true
  accessModes:
    - ReadWriteMany
  size: 8Gi
  storageClass: "{{ storage_class_name }}"
livenessProbe:
  initialDelaySeconds: 60
readinessProbe:
  initialDelaySeconds: 60
resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi
ltb-passwd:
  enabled: false
phpldapadmin:
  enabled: true
  ingress:
    enabled: false
  env:
    PHPLDAPADMIN_LDAP_HOSTS: "{{ openldap_hostname }}"
