replicaCount: 1
env:
  LDAP_ORGANISATION: "{{ ldap_configuration.lc_ldap_domain }}"
  LDAP_DOMAIN: "{{ ldap_configuration.lc_ldap_domain }}"
adminPassword: '{{ ldap_configuration.lc_admin_password }}'
configPassword: '{{ ldap_configuration.lc_admin_password }}'
customLdifFiles:
  01-default-users.ldif: |-
    # Units
    dn: {{ ldap_configuration.lc_ldap_base_dn }}
    objectClass: organizationalUnit
    ou: {{ ldap_configuration.lc_ldap_base_dn | regex_replace('^([Oo][Uu]=.+?)(,[Dd][Cc]=.*)$', '\\1') }}

    dn: {{ ldap_configuration.lc_ldap_group_base_dn }}
    objectClass: organizationalUnit
    ou: {{ ldap_configuration.lc_ldap_group_base_dn | regex_replace('^([Oo][Uu]=.+?)(,[Dd][Cc]=.*)$', '\\1') }}

    # Users
    dn: {{ ldap_configuration.lc_ldap_user_id_attribute }}={{ ldap_configuration.lc_principal_admin_user }},{{ ldap_configuration.lc_ldap_base_dn }}
    objectClass: {{ ldap_configuration.lc_ldap_user_object_class }}
    objectClass: top
    cn: {{ ldap_configuration.lc_principal_admin_user }}
    sn: {{ ldap_configuration.lc_principal_admin_user }}
    {{ ldap_configuration.lc_ldap_user_id_attribute }}: {{ ldap_configuration.lc_principal_admin_user }}
    # ToDo set some domain
    mail: {{ ldap_configuration.lc_principal_admin_user }}@{{ ldap_configuration.lc_ldap_domain }}
    userpassword:: {{ ldap_configuration.lc_principal_admin_password | b64encode }}
    employeeType: admin

    dn: {{ ldap_configuration.lc_ldap_user_id_attribute }}=cpadmin1,{{ ldap_configuration.lc_ldap_base_dn }}
    objectClass: {{ ldap_configuration.lc_ldap_user_object_class }}
    objectClass: top
    cn: cpadmin1
    sn: cpadmin1
    {{ ldap_configuration.lc_ldap_user_id_attribute }}: cpadmin1
    mail: cpadmin1@{{ ldap_configuration.lc_ldap_domain }}
    userpassword:: {{ universal_password | b64encode }}
    employeeType: admin

    dn: {{ ldap_configuration.lc_ldap_user_id_attribute }}=cpadmin2,{{ ldap_configuration.lc_ldap_base_dn }}
    objectClass: inetOrgPerson
    objectClass: top
    cn: cpadmin2
    sn: cpadmin2
    uid: cpadmin2
    mail: cpadmin2@{{ ldap_configuration.lc_ldap_domain }}
    userpassword:: {{ universal_password | b64encode }}
    employeeType: admin

    dn: {{ ldap_configuration.lc_ldap_user_id_attribute }}=cpuser,{{ ldap_configuration.lc_ldap_base_dn }}
    objectClass: {{ ldap_configuration.lc_ldap_user_object_class }}
    objectClass: top
    cn: cpuser
    sn: cpuser
    {{ ldap_configuration.lc_ldap_user_id_attribute }}: cpuser
    mail: cpuser@{{ ldap_configuration.lc_ldap_domain }}
    userpassword:: {{ universal_password | b64encode }}

    dn: {{ ldap_configuration.lc_ldap_user_id_attribute }}=cpuser1,{{ ldap_configuration.lc_ldap_base_dn }}
    objectClass: {{ ldap_configuration.lc_ldap_user_object_class }}
    objectClass: top
    cn: cpuser1
    sn: cpuser1
    {{ ldap_configuration.lc_ldap_user_id_attribute }}: cpuser1
    mail: cpuser1@{{ ldap_configuration.lc_ldap_domain }}
    userpassword:: {{ universal_password | b64encode }}

    dn: {{ ldap_configuration.lc_ldap_user_id_attribute }}=cpuser2,{{ ldap_configuration.lc_ldap_base_dn }}
    objectClass: {{ ldap_configuration.lc_ldap_user_object_class }}
    objectClass: top
    cn: cpuser2
    sn: cpuser2
    {{ ldap_configuration.lc_ldap_user_id_attribute }}: cpuser2
    mail: cpuser2@{{ ldap_configuration.lc_ldap_domain }}
    userpassword:: {{ universal_password | b64encode }}

    # Groups
    dn: {{ ldap_configuration.lc_ldap_group_id_attribute }}={{ ldap_configuration.lc_principal_admin_group }},{{ ldap_configuration.lc_ldap_group_base_dn }}
    objectClass: {{ ldap_configuration.lc_ldap_group_object_class }}
    objectClass: top
    cn: {{ ldap_configuration.lc_principal_admin_group }}
    member: {{ ldap_configuration.lc_ldap_user_id_attribute }}={{ ldap_configuration.lc_principal_admin_user }},{{ ldap_configuration.lc_ldap_base_dn }}
    member: {{ ldap_configuration.lc_ldap_user_id_attribute }}=cpadmin1,{{ ldap_configuration.lc_ldap_base_dn }}
    member: {{ ldap_configuration.lc_ldap_user_id_attribute }}=cpadmin2,{{ ldap_configuration.lc_ldap_base_dn }}

    dn: {{ ldap_configuration.lc_ldap_group_id_attribute }}=cpusers,{{ ldap_configuration.lc_ldap_group_base_dn }}
    objectClass: {{ ldap_configuration.lc_ldap_group_object_class }}
    objectClass: top
    cn: cpusers
    member: {{ ldap_configuration.lc_ldap_user_id_attribute }}=cpadmin,{{ ldap_configuration.lc_ldap_base_dn }}
    member: {{ ldap_configuration.lc_ldap_user_id_attribute }}=cpadmin1,{{ ldap_configuration.lc_ldap_base_dn }}
    member: {{ ldap_configuration.lc_ldap_user_id_attribute }}=cpadmin2,{{ ldap_configuration.lc_ldap_base_dn }}
    member: {{ ldap_configuration.lc_ldap_user_id_attribute }}=cpuser,{{ ldap_configuration.lc_ldap_base_dn }}
    member: {{ ldap_configuration.lc_ldap_user_id_attribute }}=cpuser1,{{ ldap_configuration.lc_ldap_base_dn }}
    member: {{ ldap_configuration.lc_ldap_user_id_attribute }}=cpuser2,{{ ldap_configuration.lc_ldap_base_dn }}

    dn: {{ ldap_configuration.lc_ldap_group_id_attribute }}=cpusers1,{{ ldap_configuration.lc_ldap_group_base_dn }}
    objectClass: {{ ldap_configuration.lc_ldap_group_object_class }}
    objectClass: top
    cn: cpusers1
    member: {{ ldap_configuration.lc_ldap_user_id_attribute }}=cpuser,{{ ldap_configuration.lc_ldap_base_dn }}
    member: {{ ldap_configuration.lc_ldap_user_id_attribute }}=cpuser1,{{ ldap_configuration.lc_ldap_base_dn }}
    member: {{ ldap_configuration.lc_ldap_user_id_attribute }}=cpuser2,{{ ldap_configuration.lc_ldap_base_dn }}
replication:
  enabled: false
persistence:
  enabled: true
  accessModes:
    - ReadWriteMany
  size: 8Gi
  storageClass: "{{ storage_class_name }}"
livenessProbe:
  initialDelaySeconds: 60
readinessProbe:
  initialDelaySeconds: 60
resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi
ltb-passwd:
  enabled: false
phpldapadmin:
  enabled: true
  ingress:
    enabled: false
  env:
    PHPLDAPADMIN_LDAP_HOSTS: "{{ openldap_hostname }}"
