apiVersion: v1
kind: Secret
metadata:
  name: wfs-lombardi-custom-xml-secret
  namespace: "{{ cp4ba_project_name }}"
type: Opaque
stringData:
  sensitiveCustomConfig: |
    <properties>
      <server merge="mergeChildren">
        <email merge="mergeChildren">
          <!-- SMTP server that mail should be sent to -->
          <smtp-server merge="replace">{{ cp4ba_mail_hostname }}</smtp-server>
            <mail-template>
              <process merge="replace">externalmailprocessworkplace_{0}.html</process>
              <use-gadget>true</use-gadget>
            </mail-template> 
          <valid-from-required merge="replace">true</valid-from-required>
          <default-from-address merge="replace">system@cp.local</default-from-address>
          <send-external-email merge="replace">true</send-external-email>
          <send-email-notifications-to-list merge="replace">false</send-email-notifications-to-list>
          <send-email-notifications-async merge="replace">false</send-email-notifications-async>
        </email>
      </server>
    </properties>
