apiVersion: v1
kind: Secret
metadata:
  name: ibm-bawaut-server-db-secret
  namespace: "{{ cp4ba_project_name }}"
type: Opaque
stringData:
  dbUser: bawaut
  password: "{{ cp4ba_universal_password }}"
