apiVersion: v1
kind: Secret
metadata:
  name: custom-bpc-workforce-secret
  namespace: "{{ cp4ba_project_name }}"
type: Opaque
stringData:
  workforce-insights-configuration.yml: ""
---
apiVersion: v1
kind: Secret
metadata:
  name: custom-bai-secret
  namespace: "{{ cp4ba_project_name }}"
type: Opaque
stringData:
  kibana-username: elasticsearch-admin
  kibana-password: "{{ cp4ba_universal_password }}"
  management-username: cpadmin
  management-password: "{{ cp4ba_universal_password }}"
