# PM post-deploy

The following list specifies when you need to perform particular post-deployment steps
- [Setup Task Mining](#setup-task-mining) - When you want to use Task Mining feature
- [Task Mining Client](#task-mining-client) - When you want to use Task Mining feature

## Setup Task Mining

Based on https://www.ibm.com/docs/en/process-mining/1.13.0.x?topic=manual-how-integrate-process-mining-task-mining  
Topic: How to Integrate Process Mining and Task Mining

Go to task mining https://cpd-{{ pm_project_name }}.{{ apps_endpoint_domain }}/taskmining/index.html#/  
Click settings  
Master username: {{ lc_principal_admin_user }}  
API Key: get from https://cpd-{{ pm_project_name }}.{{ apps_endpoint_domain }}/processmining/api/account/profile apiKey  
Click Save  
Green notification is displayed  

## Permissions

To be able to use Task mining, add Taskminer Authorizations to cpadmin.

To be able to login to Task mining client, edit cpadmin User and check "Agent enabled".

## Task Mining Client

Based on https://www.ibm.com/docs/en/process-mining/1.13.0.x?topic=downloading-packages

Part number for 1.13 M0726ML Process Mining 1.13.0.0 Client Windows® Multilingual	PM1.13.0.0-apmc.zip	M0726ML

Install follow https://www.ibm.com/docs/en/process-mining/1.13.0.x?topic=guide-task-mining-agent

URL to be used during manual setup https://processmining-tm-{{ pm_project_name }}.{{ apps_endpoint_domain }}/

Automatic setup run as Administrator
```cmd
msiexec /i <installer_file_msi> /log log.txt /quiet SILENT_TM_ENDPOINT=https://processmining-tm-{{ pm_project_name }}.{{ apps_endpoint_domain }}/ SILENT_ALLOW_UNSECURE_HTTPS=true
```
