# case 4.1.1 / csv 22.2.1 / https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-cp-automation
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-cp4a-operator-catalog
  namespace: openshift-marketplace
spec:
  displayName: ibm-cp4a-operator
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-cp-automation-catalog@sha256:95ff5f4c93fa26ee47fa4f620425b87bc5acce106b27a9c2497bc17681253349
  updateStrategy:
    registryPoll:
      interval: 45m
---
# case 1.3.12 / csv 1.3.12 / https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-cp-automation-foundation
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-cp-automation-foundation-catalog
  namespace: openshift-marketplace
spec:
  displayName: IBM Automation Foundation Operators
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-cp-automation-foundation-catalog@sha256:61b40644c6442b21cce3d32eb07b3ae9bc4443b43d33575a8c73fb9cac6bfb57
  updateStrategy:
    registryPoll:
      interval: 45m
---
# case 1.3.12 / csv 1.3.12 / https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-automation-foundation-core
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-automation-foundation-core-catalog
  namespace: openshift-marketplace
spec:
  displayName: IBM Automation Foundation Core Operators
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-automation-foundation-core-catalog@sha256:39ba42e91d7493d1ff7326d5364b99fe7305dbe713a71948de97b6a730314ede
  updateStrategy:
    registryPoll:
      interval: 45m
