# case 4.0.2 / csv 22.1.2 / https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-cp-automation
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-cp4a-operator-catalog
  namespace: openshift-marketplace
spec:
  displayName: ibm-cp4a-operator
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-cp-automation-catalog@sha256:986420416b2426c008aeaf42a6506c7a41f6492476b31d9b890aaa96698b7e45
  updateStrategy:
    registryPoll:
      interval: 45m
---
# case 1.3.9 / csv 1.3.9 / https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-cp-automation-foundation
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-cp-automation-foundation-catalog
  namespace: openshift-marketplace
spec:
  displayName: IBM Automation Foundation Operators
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-cp-automation-foundation-catalog@sha256:bb480738a3cf687917b2735b43e5729a276b02f6960d973064093069bfd6114e
  updateStrategy:
    registryPoll:
      interval: 45m
---
# case 1.3.9 / csv 1.3.9 / https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-automation-foundation-core
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-automation-foundation-core-catalog
  namespace: openshift-marketplace
spec:
  displayName: IBM Automation Foundation Core Operators
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-automation-foundation-core-catalog@sha256:a1e8d449e5249530c6ae71f9fb5857ac852cf090343636b314873bbf93ba7d3f
  updateStrategy:
    registryPoll:
      interval: 45m
