# case 4.0.1 / csv 22.1.0 / https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-cp-automation
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-cp4a-operator-catalog
  namespace: openshift-marketplace
spec:
  displayName: ibm-cp4a-operator
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-cp-automation-catalog@sha256:e595868ec426bfba2409878b86fa3398a0680b5c725cff212469068ce8824202
  updateStrategy:
    registryPoll:
      interval: 45m
---
# case 1.3.7 / csv 1.3.7 / https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-cp-automation-foundation
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-cp-automation-foundation-catalog
  namespace: openshift-marketplace
spec:
  displayName: IBM Automation Foundation Operators
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-cp-automation-foundation-catalog@sha256:267bbc17bad1966be259bb9a6951c520c6fb824bfa42bbec22570ba49883d4ae
  updateStrategy:
    registryPoll:
      interval: 45m
---
# case 1.3.7 / csv 1.3.7 / https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-automation-foundation-core
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-automation-foundation-core-catalog
  namespace: openshift-marketplace
spec:
  displayName: IBM Automation Foundation Core Operators
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-automation-foundation-core-catalog@sha256:5502c003afe7a0590ce123c3bbbd76e46374af641b3a210e3c25cfe2381e4647
  updateStrategy:
    registryPoll:
      interval: 45m
