# case 1.18.0 / csv 3.22.0 / https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-cp-common-services
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  annotations:
    bedrock_catalogsource_priority: '1'
  name: opencloud-operators
  namespace: openshift-marketplace
spec:
  displayName: IBMCS Operators
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-common-service-catalog@sha256:54a294b34afe71ceede6ebe6c8922b5a8accc7ca3bc23a828b885fc795d32c72
  updateStrategy:
    registryPoll:
      interval: 45m
---
# case 1.0.12 / csv 3.22.0 / https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-bts-bundle
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  annotations:
    bedrock_catalogsource_priority: '1'
  name: bts-operator
  namespace: openshift-marketplace
spec:
  displayName: BTS Operator
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-bts-operator-catalog@sha256:ea115ec291e4a0d1c17ed7dd7bee052c2a780fba60fe80f128d084074d71a070
  updateStrategy:
    registryPoll:
      interval: 45m
---
# case 4.8.0 / csv 1.15.5 / https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-cloud-native-postgresql
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  annotations:
    bedrock_catalogsource_priority: '1'
  name: cloud-native-postgresql-catalog
  namespace: openshift-marketplace
spec:
  displayName: Cloud Native Postgresql Catalog
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-cpd-cloud-native-postgresql-operator-catalog@sha256:3da7f227fee1034d585c2c76a643a6d749784ca005565de83b0016079c5151ac
  updateStrategy:
    registryPoll:
      interval: 45m
