apiVersion: v1
kind: Secret
metadata:
  name: ibm-adp-secret
  namespace: "{{ cp4ba_project_name }}"
stringData:
  serviceUser: "{{ ldap_configuration.lc_ldap_user_id_attribute }}={{ ldap_configuration.lc_principal_admin_user }},{{ ldap_configuration.lc_ldap_base_dn }}"
  servicePwd: "{{ ldap_configuration.lc_principal_admin_password }}"
  serviceUserBas: "{{ ldap_configuration.lc_ldap_user_id_attribute }}={{ ldap_configuration.lc_principal_admin_user }},{{ ldap_configuration.lc_ldap_base_dn }}"
  servicePwdBas: "{{ ldap_configuration.lc_principal_admin_password }}"
  serviceUserCa: "{{ ldap_configuration.lc_ldap_user_id_attribute }}={{ ldap_configuration.lc_principal_admin_user }},{{ ldap_configuration.lc_ldap_base_dn }}"
  servicePwdCa: "{{ ldap_configuration.lc_principal_admin_password }}"
  envOwnerUser: "{{ ldap_configuration.lc_ldap_user_id_attribute }}={{ ldap_configuration.lc_principal_admin_user }},{{ ldap_configuration.lc_ldap_base_dn }}"
  envOwnerPwd: "{{ ldap_configuration.lc_principal_admin_password }}"
  # TODO Custom Mongo not working and not described
  #mongoUri: 'mongodb://{{ cp4ba_mongodb_hostname }}:27017/?authSource=admin&connectTimeoutMS=3000'
  #mongoUser: root
  #mongoPwd: "{{ cp4ba_universal_password }}"
---
apiVersion: v1
kind: Secret
metadata:
  name: ca-basedb
  namespace: "{{ cp4ba_project_name }}"
stringData:
  BASE_DB_USER: base
  BASE_DB_CONFIG: "{{ cp4ba_db2_password }}"
  CP4BA_DB_CONFIG: "{{ cp4ba_db2_password }}"
  TENANT1_DB_CONFIG: "{{ cp4ba_db2_password }}"
  TENANT2_DB_CONFIG: "{{ cp4ba_db2_password }}"
