apiVersion: v1
kind: Secret
metadata:
  name: ibm-adp-secret
  namespace: "{{ cp4ba_project_name }}"
stringData:
  serviceUser: uid=cpadmin,ou=Users,dc=cp
  servicePwd: "{{ cp4ba_universal_password }}"
  serviceUserBas: uid=cpadmin,ou=Users,dc=cp
  servicePwdBas: "{{ cp4ba_universal_password }}"
  serviceUserCa: uid=cpadmin,ou=Users,dc=cp
  servicePwdCa: "{{ cp4ba_universal_password }}"
  envOwnerUser: uid=cpadmin,ou=Users,dc=cp
  envOwnerPwd: "{{ cp4ba_universal_password }}"
  # TODO Custom Mongo not working and not described
  #mongoUri: 'mongodb://{{ cp4ba_mongodb_hostname }}:27017/?authSource=admin&connectTimeoutMS=3000'
  #mongoUser: root
  #mongoPwd: "{{ cp4ba_universal_password }}"
---
apiVersion: v1
kind: Secret
metadata:
  name: ca-basedb
  namespace: "{{ cp4ba_project_name }}"
stringData:
  BASE_DB_USER: base
  BASE_DB_CONFIG: "{{ cp4ba_universal_password }}"
  CP4BA_DB_CONFIG: "{{ cp4ba_universal_password }}"
  TENANT1_DB_CONFIG: "{{ cp4ba_universal_password }}"
  TENANT2_DB_CONFIG: "{{ cp4ba_universal_password }}"
