# case 1.6.0 / csv 1.6.0 / https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-robotic-process-automation
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-robotic-process-automation-catalog
  namespace: "{{ rpa_project_name }}"
spec:
  displayName: IBM Robotic Process Automation Catalog
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-rpa-operator-catalog@sha256:5b14abf57417e55020a6f45f405f192922426d1de2fc0606454848ce670fbab2
  updateStrategy:
    registryPoll:
      interval: 45m
---
# case 1.6.0 / csv 1.6.0 / https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-cloud-databases-redis
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-cloud-databases-redis-operator-catalog
  namespace: "{{ rpa_project_name }}"
spec:
  displayName: ibm-cloud-databases-redis-operator-catalog
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-cloud-databases-redis-catalog@sha256:f339dd593991e1127ac42b96e39e538fa83237defb9dc9267de28f298b4bf427
  updateStrategy:
    registryPoll:
      interval: 45m
---
# case 1.8.2 / csv 1.8.2 / https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-mq
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibmmq-operator-catalogsource
  namespace: "{{ rpa_project_name }}"
spec:
  displayName: IBM MQ
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-mq-operator-catalog@sha256:8775212f7d592a7971f8baf20898551dce6e9e5a984abad8658e18cf8bc76cb1
  updateStrategy:
    registryPoll:
      interval: 45m
