# case 1.4.0 / csv 1.4.0 / https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-robotic-process-automation
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-robotic-process-automation-catalog
  namespace: "{{ rpa_project_name }}"
spec:
  displayName: IBM Robotic Process Automation Catalog
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-rpa-operator-catalog@sha256:d8e81a488afd1a7f68f02f9e223f5f5b4bb520b079c9a84d065ec0409a6eb696
  updateStrategy:
    registryPoll:
      interval: 45m
---
# case 1.5.3 / csv 1.5.3 / https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-cloud-databases-redis
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-cloud-databases-redis-operator-catalog
  namespace: "{{ rpa_project_name }}"
spec:
  displayName: ibm-cloud-databases-redis-operator-catalog
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-cloud-databases-redis-catalog@sha256:a787e47b2c86acad65060c565ed513b623dd016d743ccf62b98dbb5b96f8e860
  updateStrategy:
    registryPoll:
      interval: 45m
---
# case 1.6.0 / csv 1.6.0 / https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-mq
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibmmq-operator-catalogsource
  namespace: "{{ rpa_project_name }}"
spec:
  displayName: IBM MQ
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-mq-operator-catalog@sha256:94642ded53b9fa318dbb5700f3ae647799d47e4c361067afb36430c587691b02
  updateStrategy:
    registryPoll:
      interval: 45m
