# case 1.10.0 / csv 1.10.0 / https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-robotic-process-automation
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-robotic-process-automation-catalog
  namespace: openshift-marketplace
spec:
  displayName: IBM Robotic Process Automation Catalog
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-rpa-operator-catalog@sha256:5bfb750a0b8f760d6c48c31ca230595c93bf244b18263e0afb86aab15f99ae1f
  updateStrategy:
    registryPoll:
      interval: 45m
---
# case 1.6.3 / csv 1.6.3 / https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-cloud-databases-redis
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-cloud-databases-redis-operator-catalog
  namespace: openshift-marketplace
spec:
  displayName: ibm-cloud-databases-redis-operator-catalog
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-cloud-databases-redis-catalog@sha256:02d97f4a762f368b05605b64ea0fdbb88e2f513665c8148fa0a407c8fe13c90f
  updateStrategy:
    registryPoll:
      interval: 45m
---
# case 2.0.8 / csv 2.0.8 / https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-mq
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibmmq-operator-catalogsource
  namespace: openshift-marketplace
spec:
  displayName: IBM MQ
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-mq-operator-catalog@sha256:670e63e6d4a89151b2ae0290612cb4df8dcf6d8ee20037df0efc78a15fc690eb
  updateStrategy:
    registryPoll:
      interval: 45m
