apiVersion: v1
kind: Secret
metadata:
  name: rpa-db
  namespace: "{{ rpa_project_name }}"
type: Opaque
stringData:
  AddressContext: 'Server={{ rpa_mssql_hostname }};Database=Address;User Id=sa;Password={{ rpa_universal_password }}'
  AutomationContext: 'Server={{ rpa_mssql_hostname }};Database=Automation;User Id=sa;Password={{ rpa_universal_password }}'
  KnowledgeBase: 'Server={{ rpa_mssql_hostname }};Database=Knowledge;User Id=sa;Password={{ rpa_universal_password }}'
  WordnetContext: 'Server={{ rpa_mssql_hostname }};Database=Wordnet;User Id=sa;Password={{ rpa_universal_password }}'
  AuditContext: 'Server={{ rpa_mssql_hostname }};Database=Audit;User Id=sa;Password={{ rpa_universal_password }}'
---
apiVersion: v1
kind: Secret
metadata:
  name: rpa-smtp
  namespace: "{{ rpa_project_name }}"
type: Opaque
stringData:
  username: cpadmin
  password: '{{ rpa_universal_password }}'
---
apiVersion: v1
kind: Secret
metadata:
  name: rpa-apiserver-rpa-dashboard
  namespace: "{{ rpa_project_name }}"
type: Opaque
stringData:
  DASHBOARD_PASSWORD: '{{ rpa_universal_password }}'
