apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: ibm-cp4a-operator
  namespace: "{{ cp4ba_project_name }}"  
spec:
  channel: "{{ cp4ba_operator_channel }}"
  installPlanApproval: Manual
  name: ibm-cp4a-operator
  source: ibm-cp4a-operator-catalog
  sourceNamespace: openshift-marketplace
  startingCSV: "{{ cp4ba_starting_csv }}"
