#  case 5.1.4 / csv 1.1.11 / https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-db2uoperator
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-db2uoperator-catalog
  namespace: openshift-marketplace
spec:
  sourceType: grpc
  image: icr.io/cpopen/ibm-db2uoperator-catalog@sha256:b81bc9eac5be21c17d20fb5a5af8bc30a644889b18021d12164b7f2439f9fdb0
  displayName: IBM Db2U Catalog
  publisher: IBM
  updateStrategy:
    registryPoll:
      interval: 45m