# case 1.5.1 / csv 1.5.1
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-integration-asset-repository-catalog
  namespace: "{{ asset_repo_project_name }}"
spec:
  displayName: IBM CP4I Asset Repository
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-integration-asset-repository-catalog@sha256:010eaf61350b8b265e7010f8261a8aaed87cda87b769b27e234fd81892258b17
  updateStrategy:
    registryPoll:
      interval: 45m
