# case 1.5.3 / csv 1.5.3 / https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-integration-asset-repository
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-integration-asset-repository-catalog
  namespace: "{{ asset_repo_project_name }}"
spec:
  displayName: IBM CP4I Asset Repository
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-integration-asset-repository-catalog@sha256:ce2e403890c78e3ef20ac31cb4774774705960ffa744fdac6d8a8566e83516d9
  updateStrategy:
    registryPoll:
      interval: 45m
