# case 1.5.2 / csv 1.5.2 / https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-integration-asset-repository
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-integration-asset-repository-catalog
  namespace: "{{ asset_repo_project_name }}"
spec:
  displayName: IBM CP4I Asset Repository
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-integration-asset-repository-catalog@sha256:c601c39808f4135abacf92adf9f2cf518ea7976fda95ef77b38d2ad7bb5a62f1
  updateStrategy:
    registryPoll:
      interval: 45m
