apiVersion: v1
kind: Secret
metadata:
  name: ibm-ban-secret
  namespace: "{{ cp4ba_project_name }}"
type: Opaque
stringData:
  navigatorDBUsername: icndb
  navigatorDBPassword: "{{ cp4ba_universal_password }}"
  keystorePassword: "{{ cp4ba_universal_password }}"
  ltpaPassword: "{{ cp4ba_universal_password }}"
  appLoginUsername: cpadmin
  appLoginPassword: "{{ cp4ba_universal_password }}"
  jMailUsername: cpadmin@cp.local
  jMailPassword: "{{ cp4ba_universal_password }}"
