apiVersion: v1
kind: Secret
metadata:
  name: ibm-ban-secret
  namespace: "{{ cp4ba_project_name }}"
type: Opaque
stringData:
  navigatorDBUsername: icndb
  navigatorDBPassword: "{{ cp4ba_db2_password }}"
  keystorePassword: "{{ cp4ba_universal_password }}"
  ltpaPassword: "{{ cp4ba_universal_password }}"
  appLoginUsername: "{{ ldap_configuration.lc_principal_admin_user }}"
  appLoginPassword: "{{ ldap_configuration.lc_principal_admin_password }}"
  jMailUsername: "{{ ldap_configuration.lc_principal_admin_user }}@{{ ldap_configuration.lc_ldap_domain }}"
  jMailPassword: "{{ cp4ba_universal_password }}"
