kind: Secret
apiVersion: v1
metadata:
  name: iaf-system-elasticsearch-es-default-user
  namespace: "{{ cp4ba_project_name }}"
  labels:
    app.kubernetes.io/component: es
    app.kubernetes.io/instance: iaf-system
    app.kubernetes.io/name: elasticsearch
    elastic.automation.ibm.com/cr-name: iaf-system
stringData:
  password: "{{ cp4ba_universal_password }}"
  username: elasticsearch-admin
type: kubernetes.io/basic-auth
