kind: Secret
apiVersion: v1
metadata:
  name: "{{ ldap_configuration.lc_principal_admin_user }}"
  namespace: "{{ cp4ba_project_name }}"
stringData:
  password: "{{ ldap_configuration.lc_principal_admin_password }}"
type: Opaque
